:root {
  /* MEASUREMENT */
  --base-space-01: 4px;
  --base-space-02: 8px;
  --base-space-03: 12px;
  --base-space-04: 16px;
  --base-space-05: 32px;
  --base-space-06: 48px;
  --base-space-07: 64px;
  --base-space-08: 80px;
  --base-space-09: 96px;
  --base-space-10: 112px;
}
