.body {
  font-family: inter, serif;
  font-size: 14px;
  line-height: 1.43;
}

.code {
  font-family: firaCode, serif;
  font-size: 13px;
  line-height: 1.54;
}

.title {
  font-family: inter, serif;
  font-size: 32px;
  line-height: 1.25;
}
