:root {
  /* COLOR */
  --colors-accent: rgb(35, 112, 227);
  --colors-accent: rgb(87, 124, 254);
  --colors-black: rgb(30, 33, 43);
  --colors-black: rgb(30, 33, 43);
  --colors-green: rgb(88, 205, 82);
  --colors-green: rgb(88, 205, 82);
  --colors-grey: rgb(204, 213, 225);
  --colors-grey: rgb(204, 213, 225);
  --colors-orange: rgb(255, 142, 5);
  --colors-orange: rgb(239, 166, 78);
  --colors-red: rgb(229, 44, 35);
  --colors-red: rgb(245, 72, 63);
  --colors-white: rgb(255, 255, 255);
  --colors-white: rgb(255, 255, 255);
}
